.welcome {
    display: flex;
    flex-direction: column;
    padding: 9.875rem 0 4rem;

    box-sizing: border-box;

    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    margin: auto;

    color: white;
}

.welcome-banner {
}

.welcome-header { 
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.sign-up-bar {
    margin: 1.5rem 0 0;
}